.bookings__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 40rem;
  max-width: 90%;
}

.bookings__item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #fce45f;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(248, 226, 100, 1);
}

.bookings__item-data span {
  font-weight: 600;
}
