.events-control {
  text-align: center;
  background: #fce45f;
  border: 1px solid #fce45f;
  border-radius: 2px;
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}

.events-modal-date {
  color: #7c7c7c;
  font-weight: 400;
  margin: 0;
}
